@mixin neon-effect-icon($color) {
  filter: drop-shadow(0 0 10px $color);
  color: $color;

  transition: all 0.3s ease;

  &:hover {
    filter: drop-shadow(0 0 15px $color) brightness(1.1);
  }
}

@mixin neon-outline-button($color) {
  background: transparent;
  border: 2px solid rgba($color, 0.7);
  text-shadow: 0 0 10px $color;
  border-radius: 7px;
  color: $color;
  outline: none;
  transition: all 0.3s ease;

  &:hover {
    background: rgba($color, 0.05);
    box-shadow: inset 0 0 8px $color, 0 0 16px $color;
  }

  &:active {
    transform: scale(0.98);
  }
}

@mixin neon-outline-text($color) {
  text-shadow: 0 0 10px $color;
  color: transparent;
  outline: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  font-weight: 900;
  -webkit-text-stroke: 0.1px $color;

  &:hover {
    transform: scale(0.98);
  }
}

@mixin header-margin {
  margin-top: var(--header-height);

  @media (max-width: 800px) {
    margin-top: var(--header-mobile-height);
  }
}

@mixin header-padding($extra: 0) {
  padding-top: calc(var(--header-height) + #{$extra});

  @media (max-width: 800px) {
    padding-top: calc(var(--header-mobile-height) + #{$extra} / 2);
  }
}

@mixin footer-padding($extra: 0) {
  padding-bottom:  #{$extra};

  @media (max-width: 800px) {
    padding-bottom: calc(#{$extra} / 2);
  }
}