@font-face {
  font-family: 'Tektur';
  src: url('../../../public/fonts/Tektur-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  --header-height: 90px;
  --header-mobile-height: 70px;
  --color-input-text: #9d8cbd;
  --color-h: rgb(192,183,210);
  --color-blockquote: 157, 140, 189;
  --color-dark: #27104c;
  --color-light: #FFFFFF;
  --color-grey: rgba(255, 255, 255, 0.5);
  --color-input-placeholder: #222225;
  --font-family-base: 'Tektur', sans-serif;
  --border: 255, 16, 240;
  --background: 10, 10, 26;
  --color-input: #222225;
}

$color-pink: rgb(255, 16, 240);
$color-blue: rgb(39, 245, 242);
$color-yellow: rgb(245, 235, 39);
$color-pink-lite: rgb(157 140 189);
